body {
  margin: 0;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Avenir;
  color: #202121;
  height: 100vh;
}
.solo-letter {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1;
  padding-right: 15px;
}
.remaining-words {
  &__top, &__bottom {
    font-size: 3.4rem;
    line-height: 1;
    margin: 0;
  }
  &__top {
    font-size: 3rem;
    font-weight: 300;
  }
}